<!DOCTYPE html>
<html lang="en">
<!--JAVIER CAJA BURGUEÑO-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Layout0CSS.css"> <!-- Enlace al archivo CSS externo -->
    <title>Layout con div</title>
</head>
<body>
    <div id="contenedor">
        <div id="cabecera"> <!--parecido al header -->
            <p>Parrafo en la cabecera</p>
        </div>
        <div id="menu"> <!-- parecido al nav -->
            <ul>
                <li><a href="a">Enlace 1</a></li>
                <li><a href="a">Enlace 2</a></li>
                <li><a href="a">Enlace 3</a></li>
                <li><a href="a">Enlace 4</a></li>
            </ul>
        </div>
        <div id="contenido"> <!--parecido a section y article -->
            <h1>Ejemplo uso id</h1>
            <p>Parrafo contenido</p>
        </div>
        <div id="pie"> <!--parecido a footer -->
            <p>Parrafo en el pie de pagina</p>
        </div>
    </div> <!-- fin del div contenedor -->
</body>
</html>