<!DOCTYPE html>
<html lang="en">
<!--JAVIER CAJA BURGUEÑO-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Layout2CSS.css"> <!-- Enlace al archivo CSS externo -->
    <title>Layout con div</title>
</head>
<body>
    <header> <!-- Encabezado layout -->
        <h2>Cities</h2>
    </header>
    <section> <!--Seccion layout-->
        <nav> <!--Navegador dentro de la seccion-->
            <ul>
            <li><a href="a">Tokyo</a></li>
            <li><a href="a">Paris</a></li>
            <li><a href="a">Roma</a></li>
            <li><a href="a">Berlin</a></li>
        </ul>    
        </nav>
        </nav>
        <article> <!--Articulo dentro de la secccion-->
        <h1>London</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam cum</p>
        <p>aspernatur, doloribus quo possimus beatae nobis earum id</p>
    </article> 
    </section>
    <footer> <!--pie de la seccion-->
        <p>Pie Pagina</p>
    </footer>
</body>
</html>